[build]
builder = "DOCKERFILE"
dockerfilePath = "Dockerfile"
dockerBuildArgs = ["NEXT_PUBLIC_API_URL=${{NEXT_PUBLIC_API_URL}}"]

[deploy]
numReplicas = 1
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
